.Pages{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.page{
    background-color: #202120;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;

}
.title{
    font-size: 50px;
    text-align: center;
}